<div class="bo-container">
  <div class="bo-panel">
    <div class="bo-header">
      <h1 class="bo-title">DriveHub Administration</h1>
      <p class="bo-subtitle">Création d'un compte Back-Office</p>
    </div>

    <!-- 
      On garde la même logique Angular : 
      [formGroup] connecte ce formulaire HTML à l'objet 'registerForm' dans le TS.
      (ngSubmit) déclenche la méthode 'onSubmit()' quand on clique sur le bouton de validation.
    -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="bo-form" novalidate>

      <div class="form-group">
        <label for="name">Nom complet</label>
        <input 
          type="text" 
          id="name" 
          formControlName="name" 
          placeholder="Entrez votre nom"
        >
        <!-- @if est la structure de contrôle Angular 17+ pour afficher un bloc sous condition -->
        @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
          <span class="error-msg">Ce champ est requis.</span>
        }
      </div>

      <div class="form-group">
        <label for="email">Adresse e-mail</label>
        <input 
          type="email" 
          id="email" 
          formControlName="email" 
          placeholder="nom@entreprise.com"
        >
        @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
          <span class="error-msg">Un e-mail valide est requis.</span>
        }
      </div>

      <div class="form-group">
        <label for="role">Rôle assigné</label>
        <select id="role" formControlName="role">
          <option value="" disabled selected>-- Sélectionnez un rôle --</option>
          <option [value]="role.REVIEWER">Reviewer (Lecture seule)</option>
          <option [value]="role.SUPER_ADMIN">Super Admin (Accès total)</option>
        </select>
        @if (registerForm.get('role')?.invalid && registerForm.get('role')?.touched) {
          <span class="error-msg">Le rôle est requis.</span>
        }
      </div>

      <div class="form-group">
        <label for="phoneNumber">Numéro de téléphone</label>
        <input 
          type="tel" 
          inputmode="numeric" 
          pattern="[0-9]*" 
          id="phoneNumber" 
          formControlName="phoneNumber" 
          placeholder="Ex: 6XXXXXXXX"
        >
        @if (registerForm.get('phoneNumber')?.hasError('required') && registerForm.get('phoneNumber')?.touched) {
          <span class="error-msg">Un numéro de téléphone est requis.</span>
        }
        @if (registerForm.get('phoneNumber')?.hasError('pattern') && registerForm.get('phoneNumber')?.touched) {
          <span class="error-msg">Ce champ ne doit contenir que des chiffres.</span>
        }
      </div>

      <div class="form-group">
        <label for="residence">Résidence</label>
        <input 
          type="text" 
          id="residence" 
          formControlName="residence" 
          placeholder="Ville ou pays de résidence"
        >
        @if (registerForm.get('residence')?.invalid && registerForm.get('residence')?.touched) {
          <span class="error-msg">La résidence est requise.</span>
        }
      </div>

      <div class="form-group">
        <label for="reason">Raison de la demande</label>
        <textarea 
          id="reason"
          formControlName="reason"
          placeholder="raison de votre demande"
          rows="4"
          cols="50"
          class="resize-none border border-gray-300 rounded-md p-2"
        ></textarea>
        @if (registerForm.get('reason')?.invalid && registerForm.get('reason')?.touched) {
          <span class="error-msg">La raison est requise.</span>
        }
      </div>

      <div class="form-group">
        <label for="password">Mot de passe provisoire</label>
        <input 
          type="password" 
          id="password" 
          formControlName="password" 
        >
        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
          <span class="error-msg">Un mot de passe est requis.</span>
        }
        <div class="mt-2 p-3 bg-amber-50 border-l-4 border-amber-500 text-amber-800 text-xs rounded shadow-sm">
          <strong>⚠️ Attention :</strong> Veuillez noter ce mot de passe quelque part. Après avoir quitté cette page, <strong>il ne pourra plus être récupéré</strong> avant la validation définitive de votre compte par un administrateur.
        </div>
      </div>

      <div class="form-actions">
        <!-- 
          [disabled] désactive le bouton tant que le formulaire est invalide
          (= tant que Validators.required d'un champ n'est pas rempli)
        -->

        <!-- Bannière d'erreur API : affichée seulement si errorMessage() n'est pas vide -->
        @if (errorMessage()) {
          <div class="error-banner">
            ⚠️ {{ errorMessage() }}
          </div>
        }

        <button type="submit" [disabled]="registerForm.invalid" class="btn-primary">
          Enregistrer l'utilisateur
        </button>

        vous avez deja un compte ? <a class="auth-link text-blue-600 " routerLink="/login" routerLinkActive="active">connectez-vous !</a>
      </div>

    </form>
  </div>
</div>


@if(handleModal() == true) {
  <register-modal 
    [title]="'Enregistrement réussi !'"  
    [message]="'Votre requête sera validée dans les prochaines 24-48h. Vous serez notifié par e-mail de la décision.'" 
    [password]="registerForm.value.password || undefined"
  />
}

<router-outlet/>